.title-login {
    color: #74777F;
}

.estado-proceso {
    margin-top: 30px;
}

.card.pendiente {
    background-color: white !important;
    border: 1px solid #02c0ce;
    color: #02c0ce;
}

.card.pendiente span {
    font-weight: bold;
    font-style: italic;
}

.card-proceso {
    margin-bottom: 2rem;
}
.card-proceso .card-header {
    background-color: #02c0ce;
    border: 1px solid #02c0ce;
}
.card-proceso .card-header h5 {
    margin: 0;
    padding: 0;
    color: white;
}
.card-proceso .card-header .card-header__paso {
    margin-right: 10px;
    font-weight: bold;
    font-style: unset;
}
.card-proceso .card-body {
    border: 1px solid #ccc;
    border-top: none;
}

.card-proceso .card-body p {
    margin-bottom: .3rem;
}

.dataTables_filter input { width: 300px !important; }

.caja-proceso {
}
.caja-inner {
    border: 2px solid #ddd;
    margin-bottom: 1rem;
}
.caja-inner__header {
    padding: 1rem;
    border-bottom: 2px solid #ddd;
}
.caja-inner__header h5 {
    margin: 0;
    padding: 0;
}
.caja-inner__body {
    padding: 1rem;
}
.caja-inner__body p {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}
